<AbsoluteLayout #absolute row="1" width="100%" height="100%">
    <!-- BACKDROP -->
    <GridLayout *ngIf="toggled" (tap)="close.emit(false)" width="100%" height="100%"></GridLayout>
    <GridLayout #backDrop class="backdrop" @state=" toggled ? 'activeBD' : 'inactiveBD' "></GridLayout>
    <!-- SIDE DRAWER -->
    <GridLayout #subSideDrawer left="-130" class="side-drawer app-color-tertiary">
        <ScrollView automationText="subSideDrawer">
            <StackLayout marginTop="1" automationText="subMenuButtons" id="subMenuButton">
                <StackLayout *ngFor="let subItem of subItems; let i=index">
                    <GridLayout [id]="subItem.name.toLowerCase()" columns="*,4*" rows="*,auto" height="40" 
                                (tap)="navItemTap($event,subItem.page)" [automationText]="subItem.page + 'Button'">
                        <Label row="0" col="0" [text]="subItem.icon" class="material-icon center"></Label>
                        <Label row="0" col="1" [text]="subItem.name" class="left"></Label>
                        <GridLayout row="1" col="1" *ngIf="subItems.length > i+1" class="h-spacer app-color-primary"></GridLayout>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <GridLayout #sideDrawer left="-130" class="side-drawer app-color-secondary" @state=" toggled ? 'activeSD' : 'inactiveSD' ">
        <ScrollView automationText="sideDrawer">
            <StackLayout marginTop="1" automationText="menuButtons">
                <!-- ITEM -->
                <StackLayout *ngFor="let item of sideDrawerCategories; let i=index" id="menuButton">
                    <GridLayout columns="*,5*,*" rows="*,auto" [id]="item.name.toLowerCase()" height="40" 
                                (tap)="itemTap($event,item.subItems,item.name)" [automationText]="item.name + 'Button'">
                        <Label row="0" col="0" [text]="item.icon" class="material-icon center"></Label>
                        <Label row="0" col="1" [text]="item.name" class="left"></Label>
                        <Label *ngIf="item.subItems" row="0" col="2" [text]="(subItems == item.subItems && subToggled) ? '&#xf2fa;' : '&#xf2fb;'" class="material-icon center"></Label>
                        <GridLayout row="1" col="1" colSpan="2" *ngIf="sideDrawerCategories.length > i+1" class="h-spacer app-color-primary"></GridLayout>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</AbsoluteLayout>
