<StackLayout class="app-color-tertiary">
    <!-- TITLE -->
    <StackLayout>
        <GridLayout rows="auto" class="app-color-secondary">
            <Label text="BUTTONS" class="h4 center s-margin app-color-secondary"></Label>
            <StackLayout orientation="horizontal" class="right">
                <Label text="ROUNDED" class="h6 center"></Label>
                <Switch checked="false" (tap)="switchChange($event)" class="app-color-darkest center"></Switch>
            </StackLayout>
        </GridLayout>
        <GridLayout class="h-spacer app-color-primary bottom"></GridLayout>
    </StackLayout>
    <!-- STYLE SELECTOR -->
    <SegmentedBar (selectedIndexChanged)="selectedIndexChanged($event)" [items]="styles" class="app-color-secondary" selectedBackgroundColor="#1B3C80">
    </SegmentedBar>
    <!-- BUTTONS -->
    <ScrollView>
        <StackLayout *ngIf="!rounded">
            <Button *ngFor="let button of styles[styleSelected].styles" [text]="button.name" [class]="'button s-margin ' + button.style"></Button>
        </StackLayout>
        <StackLayout *ngIf="rounded">
            <Button *ngFor="let button of styles[styleSelected].styles" [text]="button.name" [class]="'button s-margin full-rounded-button ' + button.style"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>


