<GridLayout class="app-color-tertiary fill-all">
    <StackLayout>
        <!-- TITLE -->
        <GridLayout rows="auto" class="app-color-secondary">
            <Label text="INDICATORS" class="h4 center s-margin app-color-secondary" automationText="title"></Label>
        </GridLayout>
        <GridLayout class="h-spacer app-color-primary bottom"></GridLayout>
        <!-- COMPONENT SELECTOR -->
        <TabView selectedColor="#1B3C80" tabsBackgroundColor="#FFFFFF">
            <!-- ACTIVITY INDICATOR -->
            <StackLayout *tabItem="{title: 'ACTIVITY INDICATOR'}">
                <ScrollView>
                    <StackLayout>
                        <ActivityIndicator busy="true" *ngFor="let switch of fontColors" [class]="'center s-margin ' + switch.style"></ActivityIndicator>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
            <!-- PROGRESS -->
            <StackLayout *tabItem="{title: 'PROGRESS'}">
                <ScrollView>
                    <StackLayout>
                        <Progress maxValue="100" *ngFor="let slider of styles[3].styles; let i=index" [class]="'s-margin ' + slider.style" [value]="i*10"></Progress>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </TabView>
    </StackLayout>
</GridLayout>

