/* VARS */

    /* COLOR */

$primary-color : #212121;
$secondary-color : #c62828;
$tertiary-color : #424242 ;
$quaternary-color : #941e1e ;
$darkest-color : black;

$light-primary : white;
$light-secondary: #e0e0e0;

$stable-primary : #bdbdbd;
$stable-secondary: #757575;

$dark-primary : #424242;
$dark-secondary: #212121;

$primary-primary : #2196f3;
$primary-secondary: #1976d2;

$info-primary : #4fc3f7;
$info-secondary: #03a9f4;

$success-primary : #00e676;
$success-secondary: #00c853;

$warning-primary : #fdd835;
$warning-secondary: #f9a825;

$danger-primary : #f44336;
$danger-secondary: #c62828;

    /* SIZE */

$small-button-height: 30;
$medium-button-height: 50;
$large-button-height: 70;

$small-text-field-height: 25;
$medium-text-field-height: 45;

$medium-search-bar-height: 45;

$icon-size: 50;

$small-radius: 3;
$medium-radius: 10;
$big-radius: 20;
