<GridLayout>
    <GridLayout rows="*,10*">
        <!-- ACTION BAR -->
        <GridLayout row="0" columns="*,8*,*" class="action-bar app-color-primary">
            <!-- LEFT ICON -->
            <GridLayout col="0" (tap)="toggleSideDrawer()" automationText="toggleSDButton">
                <Label #menuIcon text="&#xf197;" class="material-icon icon"></Label>
            </GridLayout>
            <!-- TITLE -->
            <Label col="1" text="GFT &#xf15e; NativeScript" class="title center material-icon bold"></Label>
            <!-- RIGHT ICON -->
            <GridLayout col="2">
            </GridLayout>
        </GridLayout>
        <!-- ROUTER -->
        <GridLayout #router row="1" automationText="router">
            <router-outlet></router-outlet>
            <GridLayout *ngIf="toggled" (tap)="toggleSideDrawer()"></GridLayout>
            <GridLayout #backDrop class="backdrop"></GridLayout>
        </GridLayout>
        <!-- SIDE DRAWER-->
        <side-drawer [toggled]="toggled" (close)="toggleSideDrawer()" (navigate)="navigationTransition($event)" (exit)="toggleExitModal()"></side-drawer>
    </GridLayout>
    <!-- SPLASH SCREEN -->
    <splash-screen *ngIf="splashScreen"></splash-screen>
    <exit-modal *ngIf="exit" (close)="toggleExitModal()"></exit-modal>
</GridLayout>