<AbsoluteLayout #absolute row="1" width="100%" height="100%">
        <!-- BACKGROUND -->
        <GridLayout #background width="100%" height="100%" class="app-color-primary">
        </GridLayout>
        <!-- TITLE -->
        <GridLayout width="100%" height="100%" rows="*,*">
            <Label #labelOne row="0" class="alte-font lightest-font bottom h2 labelOne" text="NativeScript"></Label>
            <Label #labelTwo row="1" class="alte-font lightest-font top h2 labelTwo" text="Showcase"></Label>
        </GridLayout>
</AbsoluteLayout>
