<AbsoluteLayout row="1" width="100%" height="100%">
        <!-- TITLE -->
        <GridLayout width="100%" height="100%">
            <GridLayout width="100%" rows="auto,auto" class="center">
                <Label row="0" class="alte-font lightest-font bottom-left h2 labelOne" marginLeft="20%" text="NativeScript"></Label>
                <Label row="1" class="alte-font lightest-font top-right h2 labelTwo" marginRight="20%" text="Showcase"></Label>
            </GridLayout>
        </GridLayout>
</AbsoluteLayout>
