<StackLayout>
    <!-- TITLE -->
    <GridLayout rows="auto" class="app-color-light">
        <Label text="VIEWS" class="h4 center s-margin app-color-light"></Label>
    </GridLayout>
    <GridLayout class="h-spacer app-color-dark bottom"></GridLayout>
    <!-- COMPONENT SELECTOR -->
    <TabView selectedColor="#1B3C80" tabsBackgroundColor="#FFFFFF">
        <!-- TAB VIEW -->
        <StackLayout *tabItem="{title: 'TAB VIEW'}">
            <!-- TAB VIEW SELECTED COLOR AND BACKGROUND COLOR CAN ONLY BE SET HERE (HTML) OR PROGRAMATICALLY (TYPESCRIPT/JAVASCRIPT), IT CAN'T BE STYLED THROUGH CSS -->
            <TabView selectedColor="#FFFFFF" tabsBackgroundColor="#f44336" class="s-margin quarter-height">
                <StackLayout *tabItem="{title: 'VIEW 1'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 2'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 3'}"></StackLayout>
            </TabView>
            <TabView selectedColor="#FFFFFF" tabsBackgroundColor="#673ab7" class="s-margin quarter-height">
                <StackLayout *tabItem="{title: 'VIEW 1'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 2'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 3'}"></StackLayout>
            </TabView>
            <TabView selectedColor="#FFFFFF" tabsBackgroundColor="#03a9f4" class="s-margin quarter-height">
                <StackLayout *tabItem="{title: 'VIEW 1'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 2'}"></StackLayout>
                <StackLayout *tabItem="{title: 'VIEW 3'}"></StackLayout>
            </TabView>
        </StackLayout>
        <!-- HTML VIEW -->
        <GridLayout rows="*,*" *tabItem="{title: 'HTML VIEW'}">
            <TextView row="0" #htmlCode text="<span><font color='#ff0000'>HTML VIEW</font></span>" class="dark s-margin"></TextView>
            <Button row="0" text="VIEW HTML" (tap)="setHtmlCode()" class="light bottom-right full-rounded-small-button s-margin"></Button>
            <HtmlView row="1" #htmlView class="light s-margin"></HtmlView>
        </GridLayout>
        <!-- WEB VIEW -->
        <StackLayout *tabItem="{title: 'WEB VIEW'}">
            <ScrollView>
                <StackLayout>
                    <WebView src="https://google.es"></WebView>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </TabView>
</StackLayout>


