<StackLayout class="app-color-tertiary">
    <!-- TITLE -->
    <GridLayout rows="auto" class="app-color-secondary">
        <Label text="LOG IN" class="h4 center s-margin app-color-secondary"></Label>
    </GridLayout>
    <GridLayout class="h-spacer app-color-primary bottom"></GridLayout>
    <!-- LOGIN -->
    <GridLayout>
        <StackLayout #modal class="stable small-rounded center fill-width">
            <Label [text]="isLogin ? 'LOG IN' : 'SIGN IN'" class="h4 s-margin"></Label>
            <TextField [ngModel]="username" id="emailField" (ngModelChange)="usernameEmitter.emit($event)" hint="Username" class="light s-margin"></TextField>
            <TextField *ngIf="!isLogin" [ngModel]="email" (ngModelChange)="emailEmitter.emit($event)" hint="Email" class="light s-margin"></TextField>
            <TextField [ngModel]="pass" (ngModelChange)="passwordEmitter.emit($event)" hint="Password" secure="true" class="light s-margin"></TextField>
            <TextField *ngIf="!isLogin" id="passwordCheckField" [ngModel]="passCheck" (ngModelChange)="passwordCheckEmitter.emit($event)" hint="Confirm password" secure="true" class="light s-margin"></TextField>
            <Button *ngIf="isLogin" text="Log in" class="button primary s-margin" (tap)="login()"></Button>
            <Button *ngIf="!isLogin" text="Go back" class="button primary s-margin" (tap)="toogle()"></Button>
            <Button text="Sign in" class="button light s-margin" (tap)="signin()"></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>

