<sc-showcase-layout title="LOGIN">
    <GridLayout>
        <StackLayout #modal class="stable small-rounded center threequarters-width" automationText="loginModal">
            <Label [text]="isLogin ? 'LOG IN' : 'SIGN IN'" class="h4 s-margin" automationText="modalTitle"></Label>
            <TextField [(ngModel)]="email" hint="Email" class="light s-margin" automationText="emailField"></TextField>
            <TextField [(ngModel)]="password" hint="Password" secure="true" class="light s-margin" automationText="passField"></TextField>
            <TextField *ngIf="!isLogin" [(ngModel)]="passwordCheck" hint="Confirm password" secure="true" class="light s-margin" automationText="passCheckField"></TextField>
            <Button *ngIf="isLogin" text="Log in" class="button primary s-margin" (tap)="login(email, password)" automationText="loginButton"></Button>
            <Button *ngIf="!isLogin" text="Go back" class="button primary s-margin" (tap)="toggle()" automationText="goBackButton"></Button>
            <Button text="Sign in" class="button light s-margin" (tap)="signin()" automationText="signInButton"></Button>
        </StackLayout>
    </GridLayout>
</sc-showcase-layout>