<GridLayout class="app-color-tertiary fill-all">
    <StackLayout class="app-color-tertiary">
        <!-- TITLE -->
        <GridLayout rows="auto" class="app-color-secondary">
            <Label text="TEXT" class="h4 center s-margin app-color-secondary" automationText="title"></Label>
            <StackLayout orientation="horizontal" class="right">
                <Label text="ROUNDED" class="h6 center"></Label>
                <Switch checked="false" (tap)="switchChange($event)" class="app-color-darkest center"></Switch>
            </StackLayout>
        </GridLayout>
        <GridLayout class="h-spacer app-color-primary bottom"></GridLayout>
        <!-- COMPONENTS SELECTOR -->
        <TabView selectedColor="#1B3C80" tabsBackgroundColor="#FFFFFF">
            <!-- LABEL -->
            <StackLayout *tabItem="{title: 'LABEL'}">
                <GridLayout class="fill-all">
                    <ScrollView>
                        <StackLayout>
                            <Label *ngFor="let style of textStyles" [text]="'It\'s ' + style.name" [class]="'center s-margin ' + style.style"></Label>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>
            </StackLayout>
            <!-- TEXTFIELD -->
            <StackLayout *tabItem="{title: 'FIELD'}">
                <!-- STYLE SELECTOR -->
                <SegmentedBar (selectedIndexChanged)="selectedIndexChanged($event)" [items]="styles" class="app-color-secondary" selectedBackgroundColor="#1B3C80"></SegmentedBar>
                <GridLayout class="fill-all">
                    <ScrollView>
                        <StackLayout *ngIf="!rounded">
                            <TextField *ngFor="let textfield of styles[styleSelected].styles" [text]="textfield.name" [class]="'text-field s-margin ' + textfield.style" (loaded)="textFieldLoaded($event)"></TextField>
                        </StackLayout>
                        <StackLayout *ngIf="rounded">
                            <TextField *ngFor="let textfield of styles[styleSelected].styles" [text]="textfield.name" [class]="'text-field s-margin full-rounded-text-field ' + textfield.style" (loaded)="textFieldLoaded($event)"></TextField>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>
            </StackLayout>
            <!-- TEXTVIEW -->
            <StackLayout *tabItem="{title: 'TEXTVIEW'}">
                <!-- COLOR SELECTOR -->
                <ScrollView orientation="horizontal">
                    <SegmentedBar width="{{ 100 * colors.length}}" (selectedIndexChanged)="selectedColorChanged($event)" [items]="colors" class="app-color-secondary" selectedBackgroundColor="#1B3C80"></SegmentedBar>
                </ScrollView>
                <GridLayout class="fill-all">
                    <ScrollView>
                        <StackLayout>
                            <StackLayout *ngFor="let list of colors[colorSelected].styles" height="100">
                                <TextView [text]="opening" [class]="'s-margin text-view ' + list.style" (loaded)="textFieldLoaded($event)"></TextView>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>
            </StackLayout>
            <!-- SEARCHBAR -->
            <StackLayout *tabItem="{title: 'SEARCH'}">
                <GridLayout class="fill-all">
                    <ScrollView>
                        <StackLayout *ngIf="!rounded">
                            <SearchBar *ngFor="let search of styles[0].styles" [class]="'search-bar s-margin ' + search.style" (loaded)="textFieldLoaded($event)"></SearchBar>
                        </StackLayout>
                        <StackLayout *ngIf="rounded">
                            <SearchBar *ngFor="let search of styles[0].styles" [class]="'search-bar s-margin full-rounded-search-bar ' + search.style" (loaded)="textFieldLoaded($event)"></SearchBar>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>
            </StackLayout>
        </TabView>
    </StackLayout>
</GridLayout>


